main img {
    max-width: 500px;
    text-align: center;
    margin-top: -.25em;
    margin-left: 30%;
    margin-right: 30%;
}

h1 {
    color: black;
}

@keyframes bounce {
  0% {
  }

  100% {
    transform:translateY(-20px);
  }
}


p {
    margin: 2.5%;
}

#home-button h2 {
    color: white;
    text-decoration: underline;
    font-size: 150%;  
    margin: 2.5%; 
    animation: bounce .4s ease infinite alternate;
}

#home-button {
    background-color: #7A6EB2;
    border: white double 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    height: 4em;
    display: block;
    padding-top: .25em;
}

#image {
    transition: background-color .5s ease-in-out;
    margin-bottom: 5%;
}

.rave {
    background-color: rgba(0, 255, 255, 75);
    opacity: 75%;
    animation: rave 2.5s ease infinite alternate;
    border-radius: 100px;
}

@keyframes rave {
    0% {
        background-color: blueviolet;
    }

    10% {
        background-color: yellow;
    }

    20% {
        background-color: blue;
    }

    30% {
        background-color: green;
    }

    40% {
        background-color: red;
    }

    50% {
        background-color: pink;
    }

    60% {
        background-color: yellowgreen;
    }

    65% {
        background-color: #7A6EB2;
    }

    70% {
        background-color: orange;
    }

    80% {
        background-color: white;
    }

    90% {
        background-color: bisque;
    }

    100% { 
        background-color: aquamarine;
    }
}

/* iPad Air */
@media only screen and (max-width: 1024px) {
    body { 
        min-height: 100vh;
    }

    #image {
        max-width: 50%;
    }
}


/* iphone X code */
@media only screen and (max-width: 500px) {
    #image {
        max-width: fit-content;
        text-align: center;
    }
    #image img {  
        max-width: 50%;
        padding-inline-start: 0;
        margin: 0;
    }

    h1 {
        line-height: 150%;
    }

    h2 {
        padding: 1em;
    }
}