@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

/* body */

html {
    font-family: 'Geologica', sans-serif;
}

body {
    background: rgb(129,147,137);
background: linear-gradient(0deg, rgba(129,147,137,1) 0%, rgba(129,147,137,1) 7%, rgba(217,235,255,1) 62%, rgba(215,222,230,1) 100%);
    margin:5%;
    line-height: 120%; 
}

a {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
}

#mainhead {
    text-align:  center;
    color: #819389;
    font-size: 300%;
}

h1  {
    color: white;
    margin: 2.5%;
}

/* top logo */
#top-header img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 2.5%;
}

/* top text */

#top-header {
    margin-bottom: 1em;
}

#top-header a {
    color: #6b796b;
    text-decoration: none;
    font-size: 300%;
}

/* main navigational menu */
#main-nav {
    border-style: double;
    border-radius: 25px;
    border-color: white;
    border-width: 15px;
    background-color: #819389;
    text-align: center;
}

#main-nav li {
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
}

/* contact card */
#contact {
    border: white;
    border-style: double;
    border-width: 25px;
    border-radius: 25px;
    background-color: #819389;
    display: flex;
}

.info h2 {
    margin-left: 7.5%;
    margin-bottom: 7.5%; 
    font-size: 300%;
}

ul {
    padding-inline-start: 0;
}

#contact ul {
    text-align: center;
}

#contact li {
    display: inline-block;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

#contact p {
    color: white;
    line-height: 120%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    font-size: 150%;
}

figcaption { 
    /* Hidden, but still readable to screen readers */
    color: #819389;
}

#hi { 
    /* there isn't a 'welcome to my portfolio' on the mobile view, so this exists purely to show up on the mobile view and greet the user  */
    color: #819389;
    max-width: 2.5%;
}

.info img {
    max-width: 75px;
    max-height: 75px;
}

.profile img {
    max-width: 300px;
    border-radius: 175px;
    margin: 5%;
    border-style: double;
    border-width: 10px;
    border-color: white;
    position: relative;
}

/* projects */

#projecttitle h2 { /* explore projects */
    text-align:  center;
    color: #819389;
    font-size: 300%;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#projects a {
    font-size: 75%;
    margin-left: 5%;
}

#projects div {
    border: white;
    border-style: double;
    border-width: 25px;
    border-radius: 25px;
    background-color: #819389;
    color: white;
    margin: 2.5%;
    max-height: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

#projects div .txt {
    border: none;
    display: block;
    background-color: rgba(121, 131, 141, 0);
    margin-left: 5%;
    grid-column: 2;
    grid-row: 1;
}

.dropdown img {
    background-color: white;
}

#ftr-menu img {
    background-color: white;
}

#projects div img {
    max-width: 125px;
    border-radius: 100px;
    margin: 5%;
    border-style: double;
    border-width: 10px;
    grid-column: 1;
    grid-row: 1 / span 1;
}

/* Ash Note: Since the dropdown menu photos are styled similarly to the projects section, the stlying is here */

.dropdown a img {
    max-width: 75px;
    border-radius: 100px;
    margin: 5%;
    border-style: double;
    border-width: 3px;
}

.dropdown a img:hover {
    border-color: black;
}

#checkbox {
    display: none;
}

#checkbox:checked ~ .dropdown {
    display: block;
}

#checkbox2 {
    display: none;
}

#checkbox2:checked ~ .dropdown {
    display: block;
}

label {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.dropdown {
    display: none;
}

.link {
    grid-column: 2;
    grid-row: 1;
    margin: 3.5%; 
    text-decoration: none;
}

#projects div h2 {
    text-decoration: underline;
}

/* Ash Note: Hovering over each button will change the color to the color of the logo bug */

#projects div:hover {
    border-color: rgba(255, 255, 255, 0);
}

#projects div:hover img {
    max-width: 175px;
}

#projects div:hover #link {
    text-decoration: underline;
}

#projects .nbc:hover {
    background-color: #030026;
}

#projects .nbc:hover img {
    border: none;
    margin: 10px;
}

#projects .nsfp:hover {
    background-color: black;
}

#projects .nsfp:hover img {
    border: none;
}

#projects .m:hover {
    background-color: #232838;
}

#projects .m:hover img {
    border: none;
}

#projects .jd:hover {
    background-color: #e82d62;
}

#projects .jd:hover img {
    border: none;
}

#projects .ihs:hover {
    background-color: #272516;
}

#projects .ihs:hover img {
    border: none;
}

#projects .ll:hover {
    background-color: #f7a6a3;
}

#projects .ll:hover img {
    border: none;
    text-align: center;
}

#projects .publications:hover {
    background-color: white;
}

#projects .gallery:hover {
    background-color: white;
}

#projects .publications:hover h2 {
    color: black;
}

#projects .gallery:hover h2 {
    color: black;
}

#projects .publications:hover p {
    color: black;
}

#projects .gallery:hover p {
    color: black;
}

#projects .publications:hover img {
    border: none;
}

#projects .gallery:hover img {
    border: none;
}

.explanation {
    border-radius: 25px;
    border-width: 25px;
    border-style: double;
    border-color: white;
    margin: 2.5%;
    display: flex;
}

h1 {
    max-width: fit-content;
    line-height: 120%;
}

.explanation img {
    max-width: 75px;
    border: white double 5px;
    border-radius: 50px;
    margin: 2.5em;
}

.explanation:hover {
    border-color: rgba(255, 255, 255, 0);
}

.explanation:hover img {
    border: none;
}

/* Ash Note: footer Index page has a different footer because there's no contact information but because index is the only page with a different footer, i included the other pages footer styling here as well*/

#index-footer {
    margin-bottom: 2em;
    text-align: center;
}

#index-footer li {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

#index-footer img {
    max-width: 75px;
    max-height: 75px;
}

#btm-footer {
    margin-bottom: 2em;
    text-align: center;
    padding-inline-start: 0;
}

#btm-footer li {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#btm-footer img {
    max-width: 75px;
    max-height: 75px;
}

#res-contact {
    border: white;
    border-style: double;
    border-width: 25px;
    border-radius: 25px;
    background-color: #819389;
    margin: 2.5%;
    text-align: center;
}

#res-contact ul {
    margin-left: 7.5%;
    margin-right: 7.5%;
    text-align: center;
}

#res-contact li {
    display: inline-block;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

#res-contact p {
    line-height: 120%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    font-size: 150%;
}

#res-contact img {
    max-width: 75px;
}

#ftr-menu {
    border-style: double;
    border-radius: 25px;
    border-color: white;
    border-width: 15px;
    background-color: #819389;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 2em;
    text-align: center;
}

#ftr-menu li {
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
}

#ftr-menu img {
    max-width: 75px;
    max-height: 75px;
}

#numEmail {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
    color: white;
}

/* Ash Note: I am aware that the website is not yet phone ready! Code beanth is a WIP */

/* iPad Air Code */
@media only screen and (max-width: 1024px) {
    body {
        margin: 1em;
        display: block;
    }

    #contact {
        display: block;
    }

    #contact img {
        max-width: 200px;
    }

    ul {
        padding-inline-start: 0;
    }

    .profile {
        text-align: center;
    }

   #projecttitle h2 {
    line-height: 100%;
   }

   .txt {
    max-height: 50%;
    margin-bottom: 15%;
    grid-row: 1;
   }

   #projects div img {
    max-width: 100px;
    border: none;
    grid-row: 2;
   }

   #projects div h2 {
    margin: .5em;
    font-size: medium;
   }

   #projects div p {
    margin-top: .1em;
   }

   #projects .nbc {
    background-color: #030026;
}

#projects .nsfp {
    background-color: black;
}

#projects .m {
    background-color: #232838;
}

#projects .jd {
    background-color: #e82d62;
}

#projects .ihs {
    background-color: #272516;
}

#projects .ll {
    background-color: #f7a6a3;
}
}


/* iPhone X code */
@media only screen and (max-width: 500px) {
    body {
        margin: 1em;
        display: block;
    }

    #top-header a {
        font-size: 50%;
    }

    #title {
        display: none;
    }
    
    menu {
        padding-inline-start: 0;
    }

    ul {
        padding-inline-start: 0;
    }

    nav {
        margin-bottom: 1em;
    }

    #main-nav li {
        font-size: 100%;
    }

    #mainhead {
        display: none;
    }

    .dropdown {
        text-align: center;
    }

    #contact {
        display: inline-block;
    }

    #hi {
        color: white;
        max-height: 25px;
        margin-left: 1em;
        max-width: 90%;
    }

    .profile img {
        text-align: center;
        max-width: 150px;
        object-fit: scale-down;
        margin: 1em;
    }

    figcaption {
        max-height: 1px;
    }

    #projecttitle h2 { /* explore projects */
        text-align:  center;
        color: #819389;
        font-size: 100%;
    }

    #projects {
        display: block;
    }

    #projects div {
        display: block;
    }

    #projects div a h2 {
        margin-left: 1em;
    }

    #projects div img {
        max-width: 100px;
        border: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #projects div p {
        margin-top: 5%;
        margin-left: 1em;
    }
    
    #projects .nbc {
        background-color: #030026;
    }
    
    #projects .nsfp {
        background-color: black;
    }
    
    #projects .m {
        background-color: #232838;
    }

    #projects .jd {
        background-color: #e82d62;
    }

    #projects .ihs {
        background-color: #272516;
    }
    
    #projects .ll {
        background-color: #f7a6a3;
    }
}