#nbcexp {
    background-color: #030026;
}
p {
    font-family: 'Helvetica', sans-serif;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

/* main charts */

h2 {
    margin-left: 5%;
    margin-top: 2.5%;
    line-height: 150%;
}

#campaignstops {
    background-color: #030026;
    border-radius: 25px;
    border-width: 25px;
    border-style: double;
    border-color: white;
    margin: 2.5%;
    display: flex   ;
}

/* Styling of datawrapper elements (this is my code) */
iframe {
    background-color: white;
    padding: 5%;
    max-width: 100%;
    border-radius: 5px;
}

#campaignstops {
    display: grid;
    grid-template-rows: 15% 41% 41%;
    grid-template-columns: 1fr 1fr 1fr;
}

.data-wrapper-code {
    text-align: center;
    max-width: 100%;
    margin-bottom: 25%;
    margin-top: 15%;
}

#mapshead {
    text-align: left;
    grid-column: 1 / span 3;
    grid-row: 1;
}

#dwc1 {
    grid-column: 1;
    grid-row: 2 / span 1;
}

#dwc2 {
    grid-column: 2;
    grid-row: 2 / span 1;
}

#dwc3 {
        grid-column: 3;
        grid-row: 2 / span 1;
    }

h3 {
    font-family: 'Geologica', sans-serif;
    color: white;
    margin-left: 5%;
    margin-top: 2.5%;
}

#charts {
    display: flex;
    justify-content: center;
}

#charts h2 {
    display: none;
}

#charts div {
    background-color: #030026;
    max-width: fit-content;
    border-radius: 25px;
    border-width: 25px;
    border-style: double;
    border-color: white;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 100%;
}

#charts img {
    max-width: 350px;
    margin-left: 2em;
    margin-bottom: 5%;
    margin-right: 2em;
    border-radius: 10px;
    border-width: 10px;
    border-style: double;
    border-color: white;
}

.pub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #030026;
    border: double white 25px;
    border-radius: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pub p {
    margin-right: 2.5%;
    color: white;
}

.pub h1 {
    text-decoration: underline;
}

.pub h2 {
    font-size: 80%;
    color: white;
}

.pub img {
    max-width: 250px;
}

.publicationstext {
    grid-row: 1;
    grid-column: 2;
}

.publicationsimage {
    grid-row: 1;
    grid-column: 1;
    margin: 2em;
}

/* rest of the charts */

#the-rest {
    background-color: #030026;
    border-radius: 25px;
    border-width: 25px;
    border-style: double;
    border-color: white;
    margin: 5%;
    line-height: 125%;
}

#the-rest li {
    margin: 5%;
}

/* iphone and ipad code */

@media only screen and (max-width: 1024px) {

    body {
        max-width: 100vh;
    }

    #explanation {
        display: block;
        text-align: center;
        margin: 2.5%;
    }

    #explanation h1 {
        max-width: 100%;
    }

    #explanation img {
        border: none;
    }

    #campaignstops {
        display: block;
    }

    #campaignstops h2 {
        margin: 1em;
        line-height: 150%;
    }

    .data-wrapper-code {
        text-align: center;
        margin: 1em;
    }
    
    .data-wrapper-code iframe {
        max-width: 75%;
    }
    
    #charts {
        display: block;
        margin: 1em;
        justify-items: center;
    }

    #charts div {
        justify-items: center;
        margin: 1em;
    }

    #charts h3 {
        margin: .5em ;
    }

    #charts img {
        max-width: 25vh;
    }

    #debatetopics {
        text-align: center;
    }

    #elonmusk{
        text-align: center;
    }

    #the-rest {
        padding-inline-start: .5em;
    }

    .pub {
        display: block;
        margin: 2.5%;
    }

    .pub p {
        margin: .5em;
    }

    .pub h2 {
        margin: .5em
    }
    }