#nsfpexp {
    background-color: black;
}

#main-nav {
    background-color: black;
}

#top-header a {
    color: black;
}

h2 {
    margin: 2.5%;
    color: white;
}

p {
    color: white;
    margin: 2.5%;
}

#publication {
    text-align: left;
    background-color: black;
    border: 25px white double;
    border-radius: 25px;
    margin: 2.5%;
}

#publication img {
    max-width: 75%;
    margin-top: 5%;
    margin-left: 12.5%
}

#nsfpexp img {
    max-width: 75%;
}

section {
    background-color: black;
    border: double white 15px;
    border-radius: 25px;
    margin: 5%;
}

#freecap div {
    text-align: center;
    margin: 2.5%;
}

#freecap img {
    max-width: 9em;
}

#events {
    text-align: center;
}

#events h2 {
    columns: white;
}

#eventimg {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
}

#eventimg img {
    max-width: 100%;
    text-align: center;
}

#e1 {
    grid-row: 1;
    grid-column: 1;
}

#e2 {
    grid-row: 1;
    grid-column: 2;
}

#e3 {
    grid-row: 2;
    grid-column: 1;
}

#e4 {
    grid-row: 2;
    grid-column: 2;
}

#res-contact {
    background-color: black;
}

#ftr-menu {
    background-color: black;
}

@media only screen and (max-width: 1024px) {
    #nsfpexp {
        display: block;
        text-align: center;
        margin: 2.5%;
     }

     #nsfpexp img {
        max-width: 100px;
     }
}

@media only screen and (max-width: 500px) {
 

 #nsfpexp img {
    max-width: 75px;
 }

 #publication {
    line-height: 175%;
 }

 #freecap {
    margin: 2.5%;
 }

 #events {
    margin: 2.5%;
 }
 }